
.bg-dark .list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    margin-bottom: -1px;
    background: none;
    border: 1px solid rgba(0,0,0,.125);
}

.list-group-item:nth-child(even) {
    background-color: rgba(0,0,0,0.05);
}